@{
    ViewBag.Title = QuranRes.HomeIndexTitle;
}

    <img src="~/img/giphy.gif" />
    <p>
        @QuranRes.EvalSent
    </p>
    <a class="btn btn-primary" href="~/Home/Index">@QuranRes.BackBtn</a>
