@using QuranEducation.Helpers
@using QuranEducation.Models
@model List<Lecture>
@{
    ViewBag.Title = QuranRes.LectureTitle;
}

<!-- BEGIN PAGE CONTENT-->
<div class="row-fluid">
    <div class="span12">
        <a class="btn btn-primary" href="~/Lecture/CreateLecture/@ViewBag.TutId">@QuranRes.CreateLec</a>
        <br />
        <br />
        <div class="widget" style="background-color:transparent;">
            <div class="widget-title">
                <h4><i class="icon-building"></i>@ViewBag.TutTitle > @QuranRes.InstLecList</h4>
                <span class="tools">
                    <a href="javascript:;" class="icon-chevron-down"></a>
                    <a href="javascript:;" class="icon-remove"></a>
                </span>
            </div>

            <div class="widget-body">
                <br />

                <div class="row-fluid">
                    <div class="span12">

                        @if (Model != null)
                        {
                            foreach (var lec in Model)
                            {

                                <a class="icon-btn span3" href="~/Lecture/HandlLecture/@lec.Id">
                                    <i class="icon-book"></i>
                                    <div>@lec.Title</div>
                                </a>
                            }
                        }

                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->
